﻿<form name="form" ng-init="vm.getDonors()">
    <body>


        <input type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#donor"
            value="Be A Donor" class="btn btn-primary" />
        <p class="search"><strong>Find a Donor</strong>&nbsp;&nbsp;&nbsp;&nbsp<input ng-model="vm.Search" placeholder="Enter Blood Type" maxlength="3" /></p>

        <div ng-repeat="donors in vm.Donors | filter: { Eligible: true } | filter:{BloodType:vm.Search}">
            <ul class="donors">
                <li>Name: {{donors.Name}}</li>
                <li>Age: {{donors.Age}}</li>
                <li>Blood Type: {{donors.BloodType}}</li>
                <li>Location: {{donors.Location}}</li>
                <li ng-show="donors.VerifiedUser == 1">Verified: <span class="glyphicon glyphicon-ok"></span></li>
                <li ng-show="donors.VerifiedUser == 0">Verified: <span class="glyphicon glyphicon-remove"></span></li>
                <li>Health Details: {{donors.HealthDetails}}</li>

                <li>
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                        ng-click="vm.TransferDataToModal(donors.DonationHistories)" data-target="#history">
                        View Donation History</button>
                    <!--{{donors.DonationHistories}}-->
                </li>
                <li>
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                        ng-click="vm.TransferDataToEmailModal(donors)" data-target="#EmailModal">
                        Message this Person</button>

                </li>
            </ul>
        </div>

        <!-- Add Donor -->
        <div class="modal fade" id="donor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <h1><strong>Fill out this form</strong></h1>
                        <br />
                        <br />
                        <ul class="donor-modal">
                            <li>Name</li>
                            <input type="text"
                                ng-model="vm.DonorName" style="height: 37px;"
                                class="form-control col-md-7 col-xs-12">
                            <li>Age</li>
                            <input type="number" min="18" max="50"
                                ng-model="vm.DonorAge" style="height: 37px;"
                                class="form-control col-md-7 col-xs-12">
                            <li>Blood Type</li>
                            <select class="form-control" style="height: 43px"
                                ng-model="vm.DonorType">
                                <option value="A-">A-</option>
                                <option value="A+">A+</option>
                                <option value="B-">B-</option>
                                <option value="B+">B+</option>
                                <option value="AB-">AB-</option>
                                <option value="AB+">AB+</option>
                                <option value="O-">O-</option>
                                <option value="O+">O+</option>
                            </select>
                            <li>Location</li>
                            <input type="text"
                                ng-model="vm.DonorLocation" style="height: 37px"
                                class="form-control col-md-7 col-xs-12">
                            <li>Contact</li>
                            <input type="text"
                                ng-model="vm.DonorContact" style="height: 37px"
                                class="form-control col-md-7 col-xs-12">
                            <li>Email</li>
                            <input type="text"
                                ng-model="vm.DonorEmail" style="height: 37px"
                                class="form-control col-md-7 col-xs-12">
                            <li>Health Details</li>
                            <textarea type="text" placeholder="Input Health Details"
                                ng-model="vm.DonorDetails" style="height: 100px"
                                class="form-control col-md-7 col-xs-12"></textarea>
                            <div>
                                <div class="x_content">
                                    <div>
                                        <label>Attachments:</label>
                                    </div>
                                    <div>
                                        <i width="20%">Attach Scanned IDs for verification</i>
                                    </div>
                                    <div class="col-lg-7">
                                        <input type="file"
                                            class="form-control"
                                            ng-model="vm.FileAttachment"
                                            ngf-select="vm.onFileSelect($files)"
                                            data-max-size="1024" name="file" accept="image/*"
                                            data-ng-file-select="vm.onFileSelect($files)" />
                                    </div>
                                </div>
                            <li>
                                <button type="button"
                                    class="btn btn-primary btn-lg" ng-click="vm.AddToDonorList()">
                                    Submit</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!--Attachment Modal-->
        <div class="modal fade ViewImage" id="Div2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true"><i class="fa fa-times"></i></span>
                        </button>
                        <h4 class="modal-title" id="H3">Attachment</h4>
                    </div>
                    <div ng-show="{{vm.DonorAttachmentFileType.indexOf('image') > -1}}">
                        <img ng-src="data:image/JPEG;base64,{{vm.Donors.Attachment}}" />
                    </div>
                    <div ng-show="{{vm.DonorAttachmentFileType.indexOf('pdf') > -1}}">
                        <object data="data:application/pdf;base64,{{vm.Donors.Attachment}}"
                            width="900" height="600" type="application/pdf">
                        </object>
                    </div>
                </div>
            </div>
        </div>

        <!-- Donation History -->
        <div class="modal fade" id="history" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h1><strong>Donation History</strong></h1>
                        <br />
                        <br />
                        <center>
                                <table>
                                    <tr>
                                        <td><h3>Date Donated</h3></td>
                                    </tr>
                                    <tr ng-repeat="history in  vm.DonationHistories">
                                        <td>{{history.DateOfDonation | date:'MM/dd/yyyy'}}</td>
                                    </tr>
                                    <tr ng-hide="vm.DonationHistories.length">
                                        <td>
                                            <p>Has not donated... yet!</p>
                                        </td>
                                    </tr>
                                </table>
                        </center>
                    </div>
                    <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

        <!-- Email Modal -->
        <div class="modal fade" id="EmailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h1 class="email-modal">Email {{vm.EmailDonor.Name}} for your needed Blood.</h1>

                        <ul class="ul-email-modal">
                            <br />
                            <li><span>*</span> From
                            </li>
                            <li>
                                <input type="text" ng-model="vm.EmailDonor.EmailFrom" />
                            </li>
                            <br />
                            <li><span>*</span> To:
                            </li>
                            <li><b>{{vm.EmailDonor.email}}</b>
                            </li>
                            <br />
                            <li><span>*</span> Subject:
                            </li>
                            <li>
                                <input type="text" ng-model="vm.EmailDonor.EmailSubject" />
                            </li>
                            <br />
                            <li><span>*</span> Message:
                            </li>
                            <li>
                                <textarea rows="4" cols="50" ng-model="vm.EmailDonor.EmailBody"></textarea>
                            </li>
                        </ul>

                    </div>
                    <p>
                        <input type="button" class="button-donation-email btn btn-default btn-close" ng-click="vm.Email()" data-dismiss="modal"
                            value="Email"
                            ng-disabled="(
                            ((vm.EmailDonor.EmailBody + '').length == 0) ||
                            ((vm.EmailDonor.EmailSubject + '').length == 0) ||
                            ((vm.EmailDonor.EmailFrom + '').length == 0) ||
                            ((vm.EmailDonor.email +'').length == 0 )
                                )" />
                        <button type="button" class="button-donation-email btn btn-default btn-close" data-dismiss="modal">Close</button>
                    </p>
                </div>
            </div>
        </div>
    </body>
</form>
