﻿<div>
  <div class="row">
        <div class="wrapper">
          <form role="form" class="form-signin" novalidate>
            <h3>Login</h3>
            <hr>
            <div class="form-group">
              <label for="inputUsernameEmail">Username or E-mail</label>
              <input class="form-control" type="text"
                name="userName"
                ng-model="vm.User.Username"
                placeholder="Username" required />
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input class="form-control" type="password"
                name="password"
                ng-model="vm.User.PasswordValue"
                placeholder="Password" required />
              <small><a class="pull-right" href="#">Forgot password?</a></small>
            </div>
            <div class="form-group spacer-top">
              <a href="dashboard.html">
                <button type="submit" class="btn btn btn-primary pull-right login-button" ng-click="vm.login()"
                ng-disabled="form.$invalid">Log In</button>
              </a>
            </div>
            <div class="remember-me">
              <input type="checkbox"> Remember me
            </div>
            <div class="login-footer">
              <small>Don't have an account yet? <a href="register.html">Create an account</a></small>
            </div>
            <div class="alert alert-danger" ng-show="vm.showError()">
              <label>{{vm.User.ErrorMessage}}</label>
            </div>
          </form>
        </div>
      </div>
    <!--<form name="form" novalidate>
        <div>
            <input type="text"
                name="userName"
                ng-model="vm.User.Username"
                placeholder="Username" required />
        </div>

        <br />
        <div>
            <input type="password"
                name="password"
                ng-model="vm.User.PasswordValue"
                placeholder="Password" required />
        </div>
        <hr />

        <div>
            <button class="btn btn-primary" type="submit" value="Submit"
                ng-click="vm.login()"
                ng-disabled="form.$invalid">
                Login</button>
        </div>
        <br />
        <div class="alert alert-danger" ng-show="vm.showError()">
            <label>{{vm.User.ErrorMessage}}</label>
        </div>
    </form>-->
</div>