﻿

@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #142745 !important;
    height: 150px;
    margin-top:-120px;
    border-radius: 0 !important;
}

.navbar-top .nav {
    padding: 15px 0;
}

.navbar-top .navbar-brand {
    padding: 0 15px;
    
}

.navbar-collapse {
    font-family: 'Droid Serif', serif;
    font-size: 15px !important;
    margin-top:-20px;
    margin-left:-5px;
    background: #111;
    width: 120%;
}
.navbar-collapse > ul {
margin-left: 100px;

}

.navbar-collapse > ul > li> a {
 color: #fff !important;
 }

.navbar-collapse > ul > li> a:hover,
.navbar-collapse > ul > li> a:focus {
 color: #fff !important;
 background: #000 !important;
 }

.button-add {
  
}



@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-top .navbar-brand {
        padding: 15px 0;

    }
    .navbar {
    background-color: #142745 !important;
    }
}


.btn-primary {
border-radius: 0 !important;
border: #142745 !important;
background: #142745 !important;
font-weight: 700;
}

    .btn-primary:hover {
        background: #263e60 !important;
    }

form-control {
    border: 1px solid #142745 !important;
}

/***********/

::-webkit-input-placeholder {
   color: #b2b0b0 !important;
}

/*
input[type="text"] {
  padding: 10px;
  border: 5px solid #c9c9c9;
  transition: border 0.3s;
  outline: 0 !important;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: 5px solid #969696;
   outline: 0 !important;
}

    */

 textarea, input[type="text"] {
  padding: 10px !important;
  border: solid 2px #efefef;
  border-radius: 0 !important;
  outline: 0;
}
 textarea:focus, input[type="text"]:focus,
 textarea:focus, input[type="text"].focus {
  border: solid 2px #4e638e;
  border-radius: 0 !important;
  outline: 0;
}



input[type=button] {
    padding:5px 15px; 
    background:#1F3A70; 
    border:0 none;
    cursor:pointer;
    color: #fff;
    font-weight: 600;
    border-radius: 0 !important; 
}

input[type=button]:hover {
    padding:5px 15px; 
    background:#354e82; 
    border:0 none;
    cursor:pointer;
    color: #fff;
    font-weight: 600;
    border-radius: 0 !important; 

}
 
label,
label > h3 {
     font-family: 'Droid Serif', serif;
     color: #1F3A70;
}