@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600,400);
@import url('//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css');

/**
Main Colors Used

#1F3A70 -- light blue
#142745 -- dark blue
#111111 -- black

**/
html {
  text-rendering: auto !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Open Sans', sans-serif;
}
body{
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

input.btn {
height: 25%;
font-size: 14px;
margin-bottom: 5px;
margin-left: 10px;
}

.btn {
font-size: 14px;
}

img#logo {
    width: 10px;
}

.nav.navbar-nav {
    float: right;
}

.search {
    float: right;
    margin-top: 10px;
    color: #000000;
    margin-right: 39px;
}

h1.dashboard {
    margin-top: -5px;
    margin-bottom: 50px;
}

ul.donors {
    width: 350px;
    background-color: #ddd;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    list-style-type: none;
    height: 310px;
}

ul {
    list-style-type: none;
}

ul.donors:hover {
       -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

ul.donors li {
padding: 5px;
}

ul.donor-modal {
margin: 0px;
padding: 0px;
}

input.form-control.col-md-7.col-xs-12.ng-pristine.ng-valid.ng-touched {
    margin: 0px;
padding: 0px;
}

.col-lg-7 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
}

button.btn.btn-default.btn-close {
margin-left: 20px;
margin-bottom: 10px;
}

.button-donation-email {
    padding: 10px;
    margin: 0px;
}

input.button-donation-email.btn.btn-default.btn-close {
    margin-bottom: 10px;
    margin-left: 30px;
}

.email-modal {
    font-size: 29px;
    min-height: 15px;
}

.ul-email-modal li {
margin: 5px;
}

textarea {
    min-height: 3px;
}

span {
    color: red;
}

/** LOGIN PAGE **/
/*.main {
    max-width: 320px;
    margin: 0 auto;
  }
  .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
            margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #F8F8F8;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
*/



.form-signin {
  margin-top: 20px !important;
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}
  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

.login-button{
  width: 140px;
}

#loginForm .has-error .control-label,
#loginForm .has-error .help-block,
#loginForm .has-error .form-control-feedback {
    color: #f39c12;
}

#loginForm .has-success .control-label,
#loginForm .has-success .help-block,
#loginForm .has-success .form-control-feedback {
    color: #18bc9c;
}

.remember-me{
  margin-top: 10px;
}

.login-footer{
  text-align: center;
  margin-top: 50px;
}

/********************************/
#login { display: none; }
.login,
.logout {
    position: absolute;
    top: -3px;
    right: 0;
}
.page-header { position: relative; }
.reviews {
    color: #555;
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date {
    position: absolute;
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before {
    content: '.';
    margin-left: -2px;
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    background-color: #fff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
/*.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('../../assets/images/avatar.jpg');
    background-size: 120px;
    border-radius: 120px;
}
input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}
.custom-input-file:hover .uploadPhoto { display: block; }*/

ul.nav-tabs li a h5 ,
ul.nav-tabs li a h5 {
  color: #111 !important;
}
.profile-menu{
  background-color: #fff !important;
}
.profile-menu li:hover{
  background-color: #fff !important;
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

/********** FORMS ****************/

.table-x{
  width:100%;
  overflow-x: auto;
}
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.panel-default{
  background-color: #fff !important;
}

button.red-button{
  background-color:#B5292A !important;
  border: #B5292A !important;
  color: #fff;
}

button.red-button:hover,
button.red-button:focus,
button.red-button:active,
button.red-button.active{
  background-color:#B5292A !important;
  border: #B5292A !important;
  color: #fff;
}

.red-link{
  background-color:#B5292A !important;
  border: #B5292A !important;
  color: #fff;
  font-weight: 600;
}

.red-link:hover,
.red-link:focus,
.red-link:active,
.red-link.active{
  background-color:#B5292A !important;
  border: #B5292A !important;
  color: #fff;
}

.add-data{
  width: 150px;
  font-weight: bold;
}

.spacer-bottom{
  margin-bottom:30px !important;
}
.spacer-top{
  margin-top:30px !important;
}
/* Page Cancel */
.cancel-data{
  background-color:#B5292A;
  border-radius: 0 !important;
  border: #B5292A;
  color: #fff;
  width: 120px;
  font-weight: 600;
}

.cancel-data:hover,
.cancel-data:focus,
.cancel-data:active,
.cancel-data.active{
  background-color:#9b1818;
  border-radius: 0;
  border: #9b1818;
  color: #fff;
}

/* Page Submit */
.submit-data{
  background-color:#1F518B !important;
  border-radius: 0 !important;
  margin-right: 10px;
  border: #1F518B;
  color: #fff;
  width: 120px;
  font-weight: 600;
}

.submit-data:hover,
.submit-data:focus,
.submit-data:active,
.submit-data.active{
  background-color:#134277;
  border-radius: 0 !important;
  border: #134277;
  color: #fff;
}

span.required{
  color:#B5292A !important;
}

#datepicker{width:180px; margin: 0 20px 20px 20px;}
#datepicker > span:hover{cursor: pointer;}

/************* PANEL *****************/
.panel_toolbox {
    float: right;
    min-width: 70px;
    margin-top:-10px!important;
}

.panel_toolbox>li {
    float: right;
    
}

.panel_toolbox>li>a {
    padding: 5px;
    color: #808080;
    font-size: 20px;
    margin-right:10px;
}

.panel_toolbox>li>a:hover i.icon-close:before {
    color: #808080;
}


.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    display: inline-block;
    background: #fff;
    border: 1px solid #CCC;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
    margin-bottom:-20px;
}
.x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    font-weight: 400 !important;
    margin-top: 5px;
}

.x_content h4 {
    font-size: 16px;
    font-weight: 500;
}

.x_content canvas {}

.x_title {
    background-color: #F5F5F5;
    border-bottom: 1px solid #DDDDDD;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}

.x_title .filter {
    width: 40%;
    float: right;
}

.x_title h3 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    white-space: nowrap;
}

.x_title h3 small {
    margin-left: 10px;
}

.x_title span {
    color: #BDBDBD;
}

h4.panel-title {
background-color:#F5F5F5 !important;
padding: 15px !important;
border-bottom: 1px solid #ddd;
font-weight:800;
}
/********** FORMS ****************/
/* Reads */
ul.reads > li {
  margin-left:-40px;
  list-style-type: none;
  margin-bottom: 5px;
}


/*  Recent Activity */
.recent-activity-panel{
  margin-top:41px;
}

li.recent-activity a{
  font-weight: 600;
  margin: 0 auto !important;
}


.table-x{
overflow-x:auto;
}

/* Navbar */
.navbar {
  background: #f6a9c3;
  border-radius: 0;
  /*border-bottom:8px solid #111;*/
  /*border-top: 10px solid #111;*/
  font-size:14px;
}

.navbar .navbar-nav > li > a {
    color: #B5292A;
    font-weight: 600;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #fff;
    /*background-color: #111;*/
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #152f56;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #111;
}

/* FIXED */

.navbar-fixed-top .navbar-brand {
    padding: 10px 15px;
}


/** 2nd sub menu  **/
.dropdown-menu .sub-menu {
    background-color: #111;
    color: #fff;
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}
.dropdown-menu .sub-menu li a{
    color: #fff;

}
.dropdown-menu .sub-menu li a:hover{
    background-color: #222;
}
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

/** child menu **/
.dropdown-menu li a {
  color:#fff;
  background-color: #111;
}

.dropdown-menu li a:hover {
  color: #fff;
  background-color: #222;

}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #111;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Logo Image */
.logo {
  width:360px;
  margin:0 auto;
  margin-bottom: 10px;
}

/* Carousel */
.img-full {
    min-width: 100%;
}

.box {
    margin-top:-5px;
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}


.img-border {
    float: none;
    margin: 0 auto 0;
    border: none;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

/* Profile Sidebar*/
/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #111;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #1F3A70;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #666;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #111;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #111;
  font-weight: 600;
  background-color: #fafcfd;
  margin-left: -2px;
}

/* Reminders */
.todolist{
    background-color:#FFF;
    padding:10px 10px 10px 20px;

}
.todolist h1{
    margin:0;
    padding-bottom:20px;
    text-align:center;
}
.form-control{
    border-radius:5px;
}
li.ui-state-default{
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
}

li.ui-state-default:last-child{
    border-bottom:none;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}


/* Content */
.spacer{
  margin-top:10px;
}
.panel{
  background-color: #F8F8F8;
}
.panel-heading{
  /*border-top-left-radius: 10px;
  border-top-right-radius: 10px;*/
  color: #fff;
  background-color: #1F3A70;
  font-weight: 600;
}

/* Press Release */
.panel-success > .panel-heading{
  background-color: #D35400;
  color: #fff;
  border:0;
}

.panel-success > .panel-body, .panel {
  border:0 !important;
}

.panel-success > .panel-body {
  background-color: #eab98f !important;
}

.panel-success > .panel-body > ul > li > a{
  color:#000 !important;
}

.panel-body > ul > li > a{
  color:#000 !important;
  font-size:14px;
}

/* Profile */



/* other links */


.panel-danger > .panel-heading {
  color:#fff;
  background-color:#2C3E50;
  text-transform: uppercase;
  font-weight: 600;
  border:0;
}

/* Latest News */
.panel-danger > .panel-body, .panel {
  border:0 !important;
}

.panel-danger > .panel-body {
  background-color: #e2e2e2 !important;
}

.panel-danger > .panel-body > ul > li > a{
  color:#000 !important;
}

.panel-danger > .panel-body > ul > li > ul > li > a{
  color:#000 !important;
}

h2 {
  color: #222;
  font-weight: 700;
}

h5 {
  color:#000;
  font-weight: 600;
}

.col-lg-9 > p {
  text-align: justify;
}

.caption > p{
  margin-bottom:25px;
}

.text-info {
  color: #1F3A70 !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;

}
/* Image */
.img-center{
  margin:0 auto;
}

/* Login Area */

.login-group{
  font-size:12px;
}

/* Buttons */

/* login button */
.btn-primary{
  background: #ff9999 !important;
  border-radius: 3px;
  border-bottom:3px solid #ff9999;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.btn-primary.hover,
.btn-primary:hover{
  background-color: #ff9999 !important;
  outline:none !important;
}

.btn-primary.active,
.btn-primary:active{
  border-top:3px solid #ff9999;
  border-bottom:none;
  outline:none !important;
}

/* Press Release button */
.btn-success{
  background-color: #D35400 !important;
  border: 2px solid #D35400;
  color:#fff;
  font-weight:600;
}

.btn-success.hover,
.btn-success:hover{
  background-color: #e2712b !important;
  border: 2px solid #e2712b;
  outline:none !important;
}

.btn-success.active,
.btn-success:active{
  background-color: #e2712b !important;
  border:2px solid #e2712b !important;
  outline:none !important;
}
/* Latest news button */
.btn-danger{
  background-color: #2C3E50 !important;
  border: 2px solid #2C3E50;
  color:#fff;
  font-weight:600;
}

.btn-danger.hover,
.btn-danger:hover{
  background-color: #2C3E50 !important;
  border: 2px solid #2C3E50;
  color:#fff;
  outline:none !important;
}

.btn-danger.active,
.btn-danger:active{
  background-color: #3b4f63 !important;
  border:2px solid #3b4f63 !important;
  outline:none !important;
}

/* Footer */

#footer {
  padding-top:10px;
  font-size: 13px !important;
  color:#666 !important;
  padding-bottom:30px;
}

#footer-link > li > a{
  color:#666 !important;
}

img#agencies-link {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

img#agencies-link:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}
